* {
  cursor: none;
  /* margin: 0;
  padding: 0;
  box-sizing: border-box; */
}

.cursor {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  border: 1px solid #686868;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 5px), -50%);
  z-index: 999;
}

.cursor-two {
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 100%;
  background-color: #686868;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width .3s, height .3s, opacity .3s;
  z-index: 999;
}

.hover {
  opacity: 0.5;
  width: 8rem;
  height: 8rem;
}

.cursorinnerhover {
  width: 0.2rem;
  height: 0.2rem;
  opacity: .5;
}