body{
  padding: 2rem;
  display: grid;
  gap: 1.5rem 1.5rem;
}

a{
  text-transform: underline;
}

a:link {
  color: #686868;
}



.page-container-1-2 {
  display: grid; 
  grid-template-columns: 2fr 1fr 1fr; 
  gap: 1.5rem 1.5rem;
}

.page-container-2-1 {
  display: grid; 
  grid-template-columns: 1fr 1fr 2fr; 
  gap: 1.5rem 1.5rem;
}

.element-1{
  background: #EFEFEF;
  height: 16.4375rem;
}

.element-2{
  background: #EFEFEF;
  height: 16.4375rem;
}

.content{
  color: #232323;
  font-family: Helvetica Neue;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 1.4rem */
  text-wrap: balance;
}

.sub-content{
  color: #686868;
  font-family: 'Amiri', serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 1.4rem */
  
  color: #686868;
  font-family: 'Amiri', serif;
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
  line-height: 140%;
}

.time {
  color: #232323;
  text-align: right;
  font-family: Helvetica Neue;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 1.4rem */
}

.slider{
  width: 100%;
  height: 54rem;
  background-image: url("./images/Frame 21.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about-container{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
}

.list-column{
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 360px) {
  body{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem 1.5rem;
  }

  .hide{
    display: none;
  }

  .page-container-1-2 {
    display: flex;
    gap: 1.5rem 1.5rem;
    flex-direction: column;
  }
  
  .page-container-2-1 {
    display: flex;
    gap: 1.5rem 1.5rem;
    flex-direction: column;
  }

  .about-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .element-1{
    background: #EFEFEF;
    height: auto;
  }
  
  .element-2{
    background: #EFEFEF;
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  body{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem 1.5rem;
  }

  .hide{
    display: none;
  }

  .page-container-1-2 {
    display: flex;
    gap: 1.5rem 1.5rem;
    flex-direction: column;
  }
  
  .page-container-2-1 {
    display: flex;
    gap: 1.5rem 1.5rem;
    flex-direction: column;
  }

  .about-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}